{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<nav>
        <div class="banner banner1">
            <div class="navbar animatedTransition">
                <a href="{% url 'home page' %}"><img src=" {% static 'images/logo1.png' %}" class="logo" alt="logo"></a>
                <ul>
                    <li><a href="{% url 'home page' %}">Home</a></li>
                    <li><a href="{% url 'car listings' %}">Car listings</a></li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login user' %}">login</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile details' pk=request.user.pk %}">Profile</a></li>
                     <li><a href="{% url 'logout user' %}">Logout</a></li>
                {% endif %}
            </ul>
            </div>
            </div>
</nav>


<div class="login-box animatedTransition">
  <h2>Change Password</h2>
  <form method="post" action="{% url 'edit password' pk=request.user.pk %}">
       {% csrf_token %}
        {% for field in form %}
      <div class="user-box">
        {{ field }}
        {{ field.label_tag }}
      {% if field.errors %}
      {{ field.errors }}
      {% endif %}
      </div>
        {% endfor %}
{#        {% if form.errors %}#}
{#          <li class="errorlist">Invalid username or password.</li>#}
{#{% endif %}#}
      <button type="submit" class="button-style">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      Change
      </button>
  </form>
</div>
</body>

</html>