{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings UI Design</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="https://kit.fontawesome.com/2301b889cf.js" crossorigin="anonymous"></script>
</head>
<body class="profile-details-body">
<div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>

<nav>
    <div class="banner">
        <div class="navbar animatedTransition">
            <a href="{% url 'home page' %}"><img src=" {% static 'images/logo1.png' %}" class="logo" alt="logo"></a>
            <ul>
                <li><a href="{% url 'home page' %}">Home</a></li>
                <li><a href="{% url 'car listings' %}">Car listings</a></li>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login user' %}">login</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile details' pk=request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout user' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<section class="py-5 my-5">
    <div class="container">
        <h1 class="mb-5">Account Details</h1>
        <div class="container-details-ad shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        {% if request.user.profile.image_url %}
                            <img src="{{ request.user.profile.image_url }}" alt="" class="shadow">
                        {% else %}
                            <img src="{% static 'images/no_pfp.jpg' %}" alt="" class="shadow">
                        {% endif %}
                    </div>
                    {% if request.user.profile.full_name %}
                        <h4 class="text-center">{{ request.user.profile.full_name }}</h4>
                    {% endif %}
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
                       aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i>
                        Account
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
                       aria-controls="password" aria-selected="false">
                        <i class="fa-solid fa-sack-dollar"></i>
                        Revenue
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Account Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.profile.first_name|default_if_none:"" }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.profile.last_name|default_if_none:"" }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.email }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Age</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.profile.age|default_if_none:"" }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone number</label>
                                {% if request.user.profile.phone_number %}
                                    <input type="text" class="form-control" disabled="disabled"
                                           value="+359{{ request.user.profile.phone_number }}">
                                {% else %}
                                    <input type="text" class="form-control" disabled="disabled" value="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.profile.country|default_if_none:"" }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value={{ request.user.profile.city|default_if_none:"" }}>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="button-style7"
                                onclick="window.location.href='{% url 'edit profile' pk=request.user.pk %}';">
                            Edit
                        </button>
                        {% if has_car_listings %}
                        <button type="button" class="button-style7"
                                onclick="window.location.href='{% url 'user car listings' pk=request.user.pk %}';">
                            My Listings
                        </button>
                        {% endif %}
                        <button type="button" class="button-style7"
                                onclick="window.location.href='{% url 'edit password' pk=request.user.pk %}';">
                            Change Password
                        </button>

                        <button type="button" class="button-style-delete"
                                onclick="window.location.href='{% url 'delete profile' pk=request.user.pk %}';">
                            Delete
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Your Revenue</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Revenue Today</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value=${{ request.user.revenue.revenue_today }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Revenue Yesterday</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value=${{ request.user.revenue.revenue_yesterday }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Revenue Last Week</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value=${{ request.user.revenue.revenue_last_week }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Revenue Last Month</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value=${{ request.user.revenue.revenue_last_month }}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Total Revenue</label>
                                <input type="text" class="form-control" disabled="disabled"
                                       value=${{ request.user.revenue.revenue_last_month }}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>