{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Car Listings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body class="car-listings-body">
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<nav>
    <div class="banner">
        <div class="navbar animatedTransition">
            <a href="{% url 'home page' %}"><img src=" {% static 'images/logo1.png' %}" class="logo" alt="logo"></a>
            <ul>
                <li><a href="{% url 'home page' %}">Home</a></li>
                <li><a href="{% url 'car listings' %}">Car listings</a></li>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login user' %}?next={{ request.path }}">login</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile details' pk=request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout user' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if page_obj %}
<h1>Your Car Listings</h1>
{% endif %}
<form method="GET" class="filters-container">
    {{ form.as_p }}
    <button type="submit" value="submit" class="button-style-green">
        Filter
    </button>
    {% if form.is_bound %}
        <button type="button" class="button-style-red" onclick="window.location.href={% url 'car listings' %};">
            Clear
        </button>
    {% endif %}
</form>
<script>
    // Function to load car models based on the selected car make
    function load_car_models() {
        var makeId = document.getElementById("id_make").value;
        var modelSelect = document.getElementById("id_model");
        modelSelect.innerHTML = '<option value="">---------</option>'; // Clear existing options

        // Fetch car models based on the selected make
        if (makeId !== "") {
            var url = "{% url 'load_car_models' %}?make_id=" + makeId;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Add new options for each car model
                    data.forEach(carModel => {
                        var option = document.createElement("option");
                        option.value = carModel.id;
                        option.text = carModel.model;
                        modelSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

    // Attach the onchange event to the car make dropdown to load car models dynamically
    document.getElementById("id_make").onchange = function () {
        load_car_models();
    };

    // Load car models on page load if there's a selected car make
    document.addEventListener('DOMContentLoaded', function () {
        load_car_models();
    });
</script>

{% if not page_obj %}
    <p class="no-cars">You have no car listings uploaded</p>
{% else %}
    <div class="listings-container">
    <div class="row" id="ads">
        <!-- Category Card -->
        {% for obj in page_obj %}
            <div class="col-md-4 mb-5">
                <div class="card rounded-custom" style="border-radius: 1.6rem; border:none; background-color: #e5e5e5;">
                    <div class="card-image">
                        {% if not obj.is_available %}
                            <span class="card-rented-badge">Rented</span>
                        {% endif %}
                        <span class="card-notify-year">{{ obj.year }}</span>
                        <img class="car-thumbnail"
                             src="{{ obj.car_pics.all.0.image_url }}"
                             alt="Alternate Text"/>
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">Used</span>
                        <span class="card-detail-badge">Daily price: ${{ obj.price }}</span>
                        <span class="card-detail-badge">{{ obj.mileage }} Kms</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>{{ obj.car_title|truncatechars:25 }}</h5>
                        </div>
                        <a class="ad-btn" href="{% url 'car ad details' pk=obj.pk %}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}

    {% include 'car/_pagination.html' with page_obj=page_obj %}

{% endif %}
</body>

</html>