{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="password-reset-complete-body">
<h1>Your password has been changed successfully.</h1>

<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<button class="button-style" type="button" onclick="window.location.href='{% url 'login user' %}';">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Login</button>
</body>
</html>