{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="password-reset-done-body">
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<h1>Password recovery email has been sent.</h1>
{#<form action="{% url 'password reset_done' %}">#}
{#{{ form }}#}
{#{% csrf_token %}#}
{#</form>#}
</body>
</html>