{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Create Car Listing</title>
</head>
<body class="create_car_listing_body">
<script>
    function load_car_models(makeId) {
        var url = "{% url 'load_car_models' %}";
        var modelSelect = document.getElementById("id_model");

        // Clear existing options
        while (modelSelect.firstChild) {
            modelSelect.removeChild(modelSelect.firstChild);
        }

        // Fetch car models based on the selected make
        if (makeId !== "") {  // Check if makeId is not empty
            // Fetch car models based on the selected make
            fetch(url + "?make_id=" + makeId)
                .then(response => response.json())
                .then(data => {
                    // Add new options for each car model
                    data.forEach(carModel => {
                        var option = document.createElement("option");
                        option.value = carModel.id;
                        option.text = carModel.model;
                        modelSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>

<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<nav>
    <div class="banner">
        <div class="navbar animatedTransition">
            <a href="{% url 'home page' %}"><img src=" {% static 'images/logo1.png' %}" class="logo" alt="logo"></a>
            <ul>
                <li><a href="{% url 'home page' %}">Home</a></li>
                <li><a href="{% url 'car listings' %}">Car listings</a></li>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login user' %}">login</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile details' pk=request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout user' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<h1>Create Car Listing</h1>

<div>
    <form method="post" action="{% url 'create car ad' %}" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {% for field in form1 %}
            {{ field.label_tag }}
            {{ field }}
            <div class="image-counter">
                <p class="image-count-text">Selected Images: <span class="image-count">0</span></p>
                <p class="image-limit-message" style="color: #C93E50;"></p>
            </div>
        {% endfor %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
        {#        {% endif %}#}
        {#        {{ field.non_field_errors }}#}
        {#        {% endfor %}#}
        {% for field in form2 %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button type="submit" class="button-style-green">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imageInput = document.querySelector("#id_image"); // Update with your input field's ID
        const imageCountText = document.querySelector(".image-count");
        const imageLimitMessage = document.querySelector(".image-limit-message");
        const submitButton = document.querySelector(".button-style-green");
        const maxImageCount = 5; // Update with your maximum allowed image count

        imageInput.addEventListener("change", function () {
            const selectedCount = imageInput.files.length;
            imageCountText.textContent = selectedCount;

            if (selectedCount > maxImageCount) {
                imageLimitMessage.textContent = `Maximum allowed images: ${maxImageCount}`;
                submitButton.disabled = true; // Disable the submit button
            } else {
                imageLimitMessage.textContent = "";
                submitButton.disabled = false; // Enable the submit button
            }
        });
    });
</script>

<script>
    document.getElementById("id_make").onchange = function () {
        var makeId = this.value;
        load_car_models(makeId);
    };
</script>
</body>
</html>