{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Create Car Ad</title>
</head>
<body class="create_ad_body">
<script>
    function load_car_models(makeId) {
        var url = "{% url 'load_car_models' %}";
        var modelSelect = document.getElementById("id_model");

        // Clear existing options
        while (modelSelect.firstChild) {
            modelSelect.removeChild(modelSelect.firstChild);
        }

        // Fetch car models based on the selected make
        if (makeId !== "") {  // Check if makeId is not empty
            // Fetch car models based on the selected make
            fetch(url + "?make_id=" + makeId)
                .then(response => response.json())
                .then(data => {
                    // Add new options for each car model
                    data.forEach(carModel => {
                        var option = document.createElement("option");
                        option.value = carModel.id;
                        option.text = carModel.model;
                        modelSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>

<nav>
    <div class="banner">
        <div class="navbar animatedTransition">
            <a href="{% url 'home page' %}"><img src=" {% static 'images/logo1.png' %}" class="logo" alt="logo"></a>
            <ul>
                <li><a href="{% url 'home page' %}">Home</a></li>
                <li><a href="{% url 'car listings' %}">Car listings</a></li>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login user' %}?next={{ request.path }}">login</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile details' pk=request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout user' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="login-box animatedTransition">
    <form method="post" action="{% url 'create car ad' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form1 %}
            <div class="user-box">
                {{ field }}
                {{ field.label_tag }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}
        {% for field in form2 %}
            <div class="user-box">
                {{ field }}
                {{ field.label_tag }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}
        {#        {{ form1.as_p }}#}
        {#        {{ form2.as_p }}#}
        {#        {% csrf_token %}#}
        {#        {% if form.errors %}#}
        {#          <li class="errorlist">Invalid username or password.</li>#}
        {#{% endif %}#}
        <button type="submit" class="button-style">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create
        </button>
    </form>
</div>
{#{% if request.user.is_authenticated %}#}
{#    <h1>test</h1>#}
{#{% endif %}#}
{#<form action="{% url 'create car ad' %}" method="post" enctype="multipart/form-data">#}
{#    {{ form1.as_p }}#}
{#    {{ form2.as_p }}#}
{#    {% csrf_token %}#}
{#    <button type="submit">submit</button>#}
{#</form>#}
<script>
    document.getElementById("id_make").onchange = function () {
        var makeId = this.value;
        load_car_models(makeId);
    };
</script>
</body>
</html>