{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
            <h2>Page not found</h2>
        </div>
{#        <a href="{% url 'home page' %}">Home page</a>#}
        <a href="{% url 'home page' %}">Home page</a>
    </div>
</div>

</body>
</html>