.car-delete-body {
    background: radial-gradient(ellipse at bottom, rgba(4, 15, 24, 0.96) 0%, #4b1717 100%);
    color: white;
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/
    /*    background-position: center;*/
    /*}*/
}

.car-delete-body .login-box {
    width: 450px;
    height: 300px;
}

.car-delete-body .login-box h1 {
    position: absolute;
    top:5%;
    margin: auto;
}
.car-delete-body .login-box h2 {
    margin-top: 30px;
    font-size: 1.3rem;
}

.car-delete-body .button-style-red {
    position: absolute;
    top: 60%;
    left: 130px;
}