.profile-delete-body {
    background: radial-gradient(ellipse at bottom, rgba(31, 12, 12, 0.96) 0%, #480a0a 100%);
    color: white;
}
.profile-delete-body .login-box {
    width: 400px;
    align-content: center;
    align-items: center;
}

.profile-delete-body .login-box .button-style-red {
    position: relative;
    left: 23%;
    margin-bottom: 5px;
}