.password-reset-confirm-body {
    background: radial-gradient(ellipse at bottom, rgba(4, 15, 24, 0.96) 0%, #173b4b 100%);
}

.password-reset-confirm-body .login-box .user-box input:focus ~ label,
.password-reset-confirm-body .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #7ec4ea;
    font-size: 12px;
}


.password-reset-confirm-body .button-style {
    color: #067494
}

.password-reset-confirm-body .button-style:hover {
    background-color: #067494;
    color: white;
    box-shadow: 0 0 5px #065167, 0 0 25px #065167, 0 0 50px #065167, 0 0 100px #065167;
}

.password-reset-confirm-body .button-style span:nth-child(1) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-confirm-body .button-style span:nth-child(2) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-confirm-body .button-style span:nth-child(3) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-confirm-body .button-style span:nth-child(4) {
        background: linear-gradient(270deg, transparent, #067494
    );
}