.password-reset-done-body {
    background: radial-gradient(ellipse at bottom, rgba(4, 15, 24, 0.96) 0%, #001f2d 100%);
    color: #d0d0d0;
}

.password-reset-done-body h1 {
    position: absolute;
    top: 35%;
    left: 30%;
    padding: 40px;
    border: 1px solid #067494;
    background-color: #065c73;
    box-shadow: 0 0 40px 15px #003c4d;
    border-radius: 20px;
    text-align: center;
}