.password-reset-complete-body {
    background: radial-gradient(ellipse at bottom, rgba(4, 15, 24, 0.96) 0%, #001e31 100%);
    color: #d0d0d0;
}

.password-reset-complete-body h1 {
    position: absolute;
    top: 35%;
    left: 28%;
    padding: 40px;
    border: 1px solid #067494;
    background-color: #065c73;
    box-shadow: 0 0 40px 15px #003c4d;
    border-radius: 20px;
    text-align: center;
}


.password-reset-complete-body .button-style {
    position: absolute;
    top: 60%;
    left: 44%;
    font-size: 2rem;
    color: #067494
}

.password-reset-complete-body .button-style:hover {
    background-color: #067494;
    color: white;
    box-shadow: 0 0 5px #065167, 0 0 25px #065167, 0 0 50px #065167, 0 0 100px #065167;
}

.password-reset-complete-body .button-style span:nth-child(1) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-complete-body .button-style span:nth-child(2) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-complete-body .button-style span:nth-child(3) {
        background: linear-gradient(270deg, transparent, #067494
    );
}
.password-reset-complete-body .button-style span:nth-child(4) {
        background: linear-gradient(270deg, transparent, #067494
    );
}