@import "errors.css";
@import "nav.css";
@import 'buttons.css';
@import 'login.css';
@import 'close.css';
@import '404.css';
@import "account_details.css";

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.home-page-body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(to top, #240b36 45%, #000E38);*/
}


.animatedTransition {
    animation: transitionIn 1.25s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.h1c {
    position: relative;
    margin-bottom: 20px;
    left: 15%;
}

.delete-btn {
    position: relative;
    left: 25%;
}

.pt1 {
    font-size: smaller;
    /*position: relative;*/
    /*left:10%;*/
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #B2227B;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #810F56;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    /* new lines */
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ------------------------------------------------ */
