@import "errors.css";
@import "nav.css";
@import 'buttons.css';
@import 'login.css';
@import 'close.css';
@import '404.css';
@import "account_details.css";
@import 'register.css';
@import 'car_details.css';
@import 'car_delete.css';
@import 'car_listings.css';
@import 'pagination.css';
@import 'edit_car_listing.css';
@import 'delete_profile.css';

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.home-page-body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(to top, #240b36 45%, #000E38);*/
}


.animatedTransition {
    animation: transitionIn 1.25s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.h1c {
    position: relative;
    margin-bottom: 20px;
    left: 15%;
}

.delete-btn {
    position: relative;
    left: 25%;
}

.pt1 {
    font-size: smaller;
    /*position: relative;*/
    /*left:10%;*/
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #B2227B;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #810F56;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    /* new lines */
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin-right: auto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #157684;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    box-shadow: 0 0 5px #00CCFF, 0 0 25px #00CCFF, 0 0 50px #00CCFF, 0 0 100px #00CCFF
}

.navbar ul li:hover::after {
    width: 100%;
    background: #37A0AF
}

.edit-profile-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/bg9.jpg');
}

.password-change-body {
    background: radial-gradient(ellipse at bottom, rgba(4, 13, 24, 0.96) 0%, #00072d 100%);
}


.messages {
    color: white;
    margin-bottom: 15px;
    list-style: none;
    position: absolute;
    top: 17%;
    left: 37%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #143250;
    border: 1px solid #1b5d9d;
    box-shadow: 0 0 10px 5px #1b1d36;
}

/* ------------------------------------------------ */
